.search-box {
    border: 1px solid var(--dimgray);
    background-color: var(--dark-sea-green);
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 2px 2px 3px #aaa;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.search-title {
    font-weight: bold;
    text-transform: uppercase;
}

.search-box form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5em;
    margin-bottom: 1em;
    
}

.search-box input {
    margin: -1px;
    flex: 4 1 15rem;
    height: 2em;
    padding: 0.25em;
}

.search-candidate {
    margin: 0.5em auto;
    margin-top: 0.5em;
    box-shadow: 2px 2px 3px #222;
    max-width: 400px;
}

.search-candidate a {
    min-height: 40px;
    display: flex;
    align-items: stretch;
    background-color: #eeeeee;
    color: black;
}

.search-candidate a:hover {
    opacity: 0.85;
    text-decoration: none;
    color: #666;
}


.search-party-text {
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: white;
}

.search-info-col {
    flex: 1 1 100px;
    padding: 0.5em 0.5em;
    position: relative;
    
    display: flex;
    align-items: center;
}

.search-name {
    font-size: 1.2em;
    margin-bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
}

.search-tag-line {
    font-size: 0.8em;
    margin-top: 0.2em;
}

.search-status {
    /* color: white; */
    margin: 0.3em 0;
    padding: 0.5em 0.5em;
    width: 100%
}

.search-incum {
    font-style: italic;
    font-size: 0.9em;
    min-height: 1em;
}

.search-fakelink {
    position: absolute;
    bottom: 3px;
    right: 8px;
    color: #666;
}