

.map-container {
  margin:auto;
  /* min-width: 380px; */
  width: 80%;
  height: 300px;
  border: 2px solid var(--dark-sea-green);
}

.reset-map {
  top: 65px;
  left: .5em;
}

.ol-touch .reset-map {
  top: 80px;
}


@media only screen and (min-device-width: 480px){
  .map-container {
    height: 500px;
  }
}