

.map-container {
  margin:auto;
  /* min-width: 380px; */
  width: 90%;
  height: 275px;
  border: 2px solid var(--dark-sea-green);
}

.map-note {
  font-size: 0.9em;
  line-height: 1.2em;
  font-style: italic;
  color: #666;
  margin-bottom: 0.5em;
  margin-top: 0.3em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.reset-map {
  bottom: .5em;
  left: .5em;
  font-size: 0.8rem;

}

.ol-control button:hover{
  background-color: white;
}

.reset-map button {
  max-width: auto;
  width: auto;
  padding-right: 10px;
  padding-left: 10px;
}

@media only screen and (min-device-width: 480px){
  .map-container {
    height: 500px;
  }
}