.party-buckets {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  margin-top: 0.5em;
}

.party-bucket {
  padding: 0 0.5em;
  border-left: 3px solid gray;    
  margin-bottom: 1em;
  flex: 1 1 0px;
  max-width: 350px;
  h4 {
      margin: 0;
      text-transform: uppercase;
      font-weight: bold;
      text-align: left;
  }
}

@media screen and (min-width: 850px) {
    .party-buckets {
        margin-left: 1.5em;
        margin-right: 1.5em;
        gap: 1.5em;
    }
}

.candidate {
  margin-top: 0.5em;
  min-width: 250px;
  max-width: 366px;
}

details .candidate {
  min-width: 235px;
}

.candidate a {

    display: flex;
    align-items: stretch;
    background-color: #eeeeee;
    box-shadow: 2px 2px 3px #aaa;
    color: black;
}

.candidate a:hover {
    opacity: 0.85;
    text-decoration: none;
    color: #666;
}

.portrait-col {
    flex: 0 0 100px;
}

.portrait-container {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.info-col {
    flex: 1 1 200px;
    padding: 0.5em 0.5em;
    position: relative;
    display: block;
}

.name {
    font-weight: bold;
    font-size: 1.0em;
}

.tag-line {
    font-size: 0.8em;
    margin-top: 0.3em;
}

.tag {
    margin-right: 0.5em;
    margin-bottom: 0.25em;
}

.summary-line {
    font-style: italic;
    font-size: 0.65em;
    height: 1em;
    margin-bottom: 8px;
}

@media screen and (min-width: 468px) {
    .name{
        font-size: 1.2em;
    }
}

.fakelink {
    position: absolute;
    bottom: 3px;
    right: 8px;
    color: #666;
    font-size: 0.8em;
}

.out-of-cycle-note {
    background-color: #eeeeee;
    box-shadow: 2px 2px 3px #aaa;
    color: black;
    max-width: 350px;
    margin: 0 auto;
    padding: 1em;
    font-size: 1.1em;
    text-align: center;
    border: 1px solid black;
}

.holdover {
    display: inline-block;
    box-shadow: 2px 2px 3px #aaa;
    margin-bottom: 0.5em;
    color: black;
    display: flex;
    border: 1px solid black;
}

.holdover:hover {
    opacity: 0.85;
    text-decoration: none;
    color: #666;
}

.holdover-party-icon {
    align-self:stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 40px;
    font-size: 1.1em;
    margin-right: 0.5em;
    position: relative;
}

.holdover-info {
    position: relative;
    height: 4em;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items:center;
}

.holdover-name {
    font-size: 1.1em;
    text-transform: uppercase; 
    height: 100%;
    display: flex;
    align-items: center;

}

.wyoleg-note {
    position: absolute;
    bottom: 1px;
    right: 1px;
    font-size: 0.85rem;
    color: #666;
}

.party-note {
    font-size: 0.8em;
    line-height: 1.2em;
    font-style: italic;
    color: #666;
    margin-top: 0.6em;
    min-width: 235px;
}