/* App base styles */

@import './normalize.css';

/* Colors */




:root {

    --goldenrod: #d29a30;
    --wheat: #e9dcae;
    --dimgray: #517e64;
    --dark-sea-green: #89a6a0;
    --tan: #c8b8a1;
    /* party/outcome colors handled via different system */
}


body {
    /* Default to futura-pt for text elements */
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: #e5e4e2;
}

#__next {
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
}

section {
    display: block;
    padding: 0 0.5em;
    margin-bottom: 2em;
}

.section-header {
    text-align: center;
    padding: 0.3em 0.5em;
    padding-bottom: 0.2em;
    background-color: var(--wheat);
    border-top: 4px solid var(--goldenrod);
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: -1em;
    margin-right: -1em;
    font-weight:bold;
}

.race-header {
    text-align: center;
    margin-top: 0.2em;
    background-color: var(--goldenrod);
    padding: 0.3em 0.5em;
    color: black;
    text-transform: uppercase;
    font-weight:bold;
}

.district-title {
    text-align: center;
    margin-top: 1em;
    background-color: var(--wheat);
    padding: 0.3em 0.5em;
    color: black;
    text-transform: uppercase;
    font-weight:bold;
    margin-left: 1em;
    margin-right: 1em;
}
  

p,
ol,
ul {
    font-family: "Roboto", sans-serif;
    color: rgb(17, 17, 17);
    line-height: 1.5em;
    font-weight: 400;
}

section ul {
    margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    text-align:center;
    margin-bottom: 0.2em;
}

h3 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

h4 {
    margin-bottom: 0.5em;
    color: var(#000);
}

@media screen and (max-width: 468px) {
    h1 {
        font-size: 1.3em;
    }

    h3 {
        font-size: 1.2em;
    }

}

.placeholder {
    color: white;
    background-color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.link-anchor {
    display: block;
    position: relative;
    top: -115px;
    visibility: hidden;
}

@media screen and (min-width: 468px) {
    .link-anchor {
        display: block;
        position: relative;
        top: -50px;
        visibility: hidden;
    }
}

.note {
    /* Deliberate choice to not use future-pt here*/
    font-size: 0.9em;
    line-height: 1.2em;
    font-style: italic;
    color: #555;
    margin-bottom: 0.5em;
    margin-top: 0.3em;
}


/* 
button {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    background-color: var(#000);
    border: 2px solid var(#fff);
    text-transform: uppercase;
    color: #fff;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.1em;
} 
*/

/* button:hover {
    background-color: #000;
    border: 1px solid var(#666);
    color: #666;
} */

/* a.button-link {
    text-decoration: none;
} */

hr {
    border-top: 1px solid #666;
    height: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

img {
    margin-bottom: 0;
    /* overwrites default */
}

details {
    border: 1px solid #333;
    background: #666;
    padding: 0.5em;

}

details>summary {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    font-size: 14px;
}


th {
    text-align: left;
}

hr {
    border-top: 1px solid var(--goldenrod);
    border-bottom: none;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

input {
    font-size: 1.1rem;
    /* Necessary to avoid zooming bug on iOS */
}

main {
    padding: 10px;
    padding-top: 0;
    max-width: 900px;
    width:90%;
    margin: auto;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}