
.header {
  background-color: #070707;
  padding: 5px;
  padding-top: 40px;
  display:block;
}

.header a {
  text-decoration: none;
}

.header-interior {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

.header-center{
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  margin: auto;
}

h1 h2 {
  margin: 0;
  margin-top: 0px !important;
}

.site-title {
  color: white;
  font-weight:400;
  font-size: 4rem;
  margin: 0;
  margin-top: 0px !important;
}

.button {
  font-family: "Roboto Slab", serif;
  color: black;
  text-decoration: none;
  padding: 5px 30px;
  border-radius: 10px;
  cursor: pointer;
  margin: 15px;
  text-align: center;
  display:inline-block;
  background-color: var(--goldenrod);
}

.button:hover {
  background-color: var(--wheat);
  color: black;
}



.header-buttons {
  color: #FFF;
  margin-top: 15px;
}

.subtitle {
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.election-guide-title{
  text-align:center;
  margin: 0;

}

.election-guide-title a {
  text-align:center;
  text-decoration: none;
  color: var(--goldenrod);
}

.election-guide-title a:hover {
  text-decoration: underline;
}

.update {
  color: #888;
  text-align: center;
  font-size: 0.75rem;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}