
.nav {
  background-color: #f3f2f1;
  top: 0px;
  position:sticky;
  z-index: 10;
  box-shadow: 0px 5px 5px -5px #666;
}

.nav-menu {
  list-style-type: none;
  padding: 0;
  margin: 1px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 525px) {
  .nav-menu {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1000px) {
  .nav-menu {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.nav-menu-item {

  background-color: var(--wheat);
  margin: 1px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.nav-menu a {
  text-decoration: none;
  font-weight: 500;
  color: #000;
  font-family: 'Roboto', 'sans-serif';
}

.nav-menu a:hover {
  text-decoration: underline;
}