
.nav {
  background-color: #fff;
  position: sticky;
  top: 0px;
  
  z-index: 10;
  box-shadow: 0px 5px 5px -5px #000;
}

.nav-menu {

  list-style-type: none;
  padding: 0;
  margin: 1px;
  display: grid;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1px;

}

.nav-menu-item {
  background-color: var(--wheat);
  margin: 1px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  text-transform:uppercase;
  border: 1px solid var(--goldenrod)
}

.nav-menu a {
  text-decoration: none;
  color: #000;
  font-family: 'Roboto Slab', 'serif';
}

.nav-menu a:hover {
  text-decoration: underline;
}