
.nav {
  background-color: var(--dark-sea-green);
  margin: 0;
  padding: 0;
}

.nav-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  /* display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly; */
  display: grid;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 2px;
}

.nav-menu-item {
  border: 1px black solid;
  margin: 1px;
  padding-left: 10px;
  padding-right: 10px;
  /* flex-grow: 1; */
  text-align: center;
}

.nav-menu a {
  text-decoration: none;
  color: #000;
  font-family: 'Roboto Slab', 'serif';
}

.nav-menu a:hover {
  text-decoration: underline;
}